/* Styles for pagination links */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
    list-style: none;
}

.pagination li.active {
    font-weight: bold;
}

.pagination li.disabled {
    color: #888888;
}

/* index */
.repo-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.add-repo-btn {
    margin-top: 10px;
}

.divider {
    border-color: #e0e0e0;
    margin-top: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.search-btn {
    margin-left: 10px;
}

.table-content {
    width: 100%;
    border-collapse: collapse;
}

.table-content th,
.table-content td {
    padding: 10px;
    border: 1px solid #e0e0e0;
}
.action-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.action-btn {
    flex-grow: 0;
}
/* create */
.repo-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.repo-form-title {
    margin-top: 0;
    font-size: 24px;
    color: #333333;
}

.divider {
    border-color: #e0e0e0;
    margin-top: 10px;
}

.form-label {
    font-weight: 500;
    color: #333333;
}

.form-control {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    color: #333333;
}

.btn-create {
    background-color: #3490dc;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-create:hover {
    background-color: #2779bd;
}

/* edit */
.edit-repo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.edit-repo-title {
    margin-top: 0;
    font-size: 24px;
    color: #333333;
}

.divider {
    border-color: #e0e0e0;
    margin-top: 10px;
}

.form-label {
    font-weight: 500;
    color: #333333;
}

.edit-input,
.form-control {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding: 10px;
    color: #333333;
}

.btn-update {
    background-color: #38c172;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.btn-update:hover {
    background-color: #2d995b;
}

/* Navigation */
.custom-navbar {
    background-color: #f8f8f8;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.custom-navbar .navbar-brand {
    font-weight: bold;
    color: #333;
}

.custom-navbar .navbar-nav>li>a {
    color: #333;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
    background-color: #e0e0e0;
    color: #333;
}

.custom-navbar .navbar-toggle .icon-bar {
    background-color: #333;
}

.logout-form {
    margin: 0;
    padding: 15px;
}

.logout-btn {
    color: #333;
}

.logout-btn:hover,
.logout-btn:focus {
    color: #d9534f;
    text-decoration: none;
}

/* dashboard */
.user-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.user-details {
    text-align: center;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.user-details h1 {
    font-size: 24px;
    color: #333333;
    margin: 0;
    padding: 10px;
}

 /* styling for the sorting menu */
 .sorting-menu {
    margin-bottom: 15px;
}
.sorting-menu span {
    margin-right: 10px;
}
.nav-pills .nav-link {
    padding: 0.5rem 1rem;
    font-size: 14px;
    border-radius: 5px;
}
.nav-pills .nav-link.active {
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff;
}